* {
  box-sizing: border-box;
}
a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

.heading_top{
padding:20px;
width:100%;
color:#ffffff;
font-weight:bold;
font-size:35px;
font-family: "Trirong", serif;
background:#32a899;
}
.bg_common{
background:#32a899;
color:#ffffff;
font-weight:bold;
font-size:15px;
font-family: "Trirong", serif;

}

.button_common {
background:#32a899;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  width:25%;
}