{%extends 'base.html' %}
{%block body%}

<div class="">

    <div class="row">
        <div class="col-md-12">
            <h3 class="heading_top">
                Leave Applications
            </h3>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

<table class="table table-hover mt-5">
                    <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Role</th>
                        <th>Applied on</th>
                        <th>Applied Dates</th>
                        <th>No. of Days</th>
                        <th>Reasons</th>
                        <th>Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    {%for i in leaves_application%}
                    <tr>
                        <td>{%if i.EMP_ID%}{{i.EMP_ID}}{%else%}-{%endif%}</td>
                        <td>{%if i.ROLE%}{{i.ROLE}}{%else%}-{%endif%}</td>
                        <td>{%if i.APPLIED_ON%}{{i.APPLIED_ON}}{%else%}-{%endif%}</td>
                        <td>{%if i.APPLIED_DATE%}{{i.APPLIED_DATE}}{%else%}-{%endif%}</td>
                        <td>{%if i.APPLIED_DAYS%}{{i.APPLIED_DAYS}}{%else%}-{%endif%}</td>
                        <td>{%if i.REASON%}{{i.REASON}}{%else%}-{%endif%}</td>
                        <td>
                            <a href="/Update_Leave_Applications/{{i.EMP_ID}}/{{i.ID}}"><i class="fa fa-pencil"></i> </a>
                            {%if i.STATUS%}{{i.STATUS}}{%else%}-{%endif%}</td>

                    </tr>
                    {%endfor%}
                    </tbody>

                </table>
        </div>
    </div>
</div>
{%endblock%}